<h2>{{device.name}}<br><small>ステータス更新日時: {{device.updatedAt}}</small></h2>
<div class="row">
  <div class="col-md-6">
    <form method="post" action="/{{device.name}}">
      <div class="form-group">
	<hr/>
	<label for="code">ステータス変更時のコード</label>
	<div class="bs-callout bs-callout-info">JavaScriptで実行され、以下の変数が予め用意されています。
	  <ul>
	    <li>deviceName: デバイス名</li>
	    <li>val: 変更後のステータス。(onの場合100が、offの場合0が入ります。)</li>
	    <li>prevVal: 変更前のステータス</li>
	  </ul>
	</div>
	<textarea class="form-control" id="code" name="code" rows="8" placeholder="例)
var https = require("http");
http.get("http://example.com/launch");
">{{device.code}}</textarea>
      </div>
      <button type="submit" class="btn btn-default">更新する</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="chartjs_container">
      <canvas id="chart" width="400" height="400"></canvas>
    </div>
    <script>
      var deviceName = '{{device.name}}';
    </script>
    <script src="/js/iot-srv-device.js"></script>
  </div>
</div>
